
<div class="container">
    <div class="row">
        <div class="col-md-4 md-5">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-theame-secondry" routerLink="/catogery">
                    <h2>Category</h2>
                    <a routerLink="catogery">Manage your catogery here.</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 md-5">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-theame-secondry" routerLink="/frontend">
                    <h2>Post</h2>
                    <a >Manage your Post here.</a>
                </div>
            </div>
        </div>

</div>
</div>